<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta charset="utf-8">
    <title>{% block title %}Django App{% endblock %}</title>
  </head>
  <body>
    <main>
      <div class="panel panel-primary">
        <div class="panel-heading clearfix">
          <div class="btn-group pull-right">
            {% block buttons %}
            {% endblock %}
          </div>
          <h2 class="panel-title pull-left" style="padding-top: 0.5em">{% block panel-title %}Default Title{% endblock %}</h2>
        </div>
        <div class="panel-body">
          {% block panel-body %}
          {% endblock %}
        </div>
      </div>
    </main>
  </body>
</html>
