{% extends 'base.html' %}

{% block title %} Calories Graph {% endblock %}

{% block buttons %}
<form class="form-inline" style='margin-bottom: 0px'action="/caloriesgraph" method="get">
      <label>Past Date:</label>
      <input class="form-control" type="date" name="pastdate">
      <input class="btn btn-success" type="submit" value="Set Date">
</form>
{% endblock %}
{% block panel-title %} Calories Graph {% endblock %}

{% block panel-body %}
<div> {{ plot|safe }} </div>
{% endblock %}
