{% extends 'base.html' %}

{% block title %} Log Exercise {% endblock %}

{% block panel-title %} Log Exercise {% endblock %}

{% block panel-body %}
<form method="post">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}" />
  {% for field in form %}
  <p>
    {{ field.label_tag }}<br>
    {{ field }}
    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    {% if field.help_text %}
    <p><small class="form-text text-muted">{{ field.help_text }}</small></p>
    {% endif %}
  </p>
  {% endfor %}
  <button class="btn btn-success" type="submit">Log</button>
</form>
{% endblock %}
