{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block buttons %} 
<a class="btn btn-warning pull-right" style="margin-left: 0.5em" href="{% url 'logout' %}">Log Out</a> 
<a class="btn btn-warning pull-right" style="margin-left: 0.5em" href="{% url 'update' %}">Update Weight</a>
<a class="btn btn-warning pull-right" style="margin-left: 0.5em" href="{% url 'logfood' %}">Log Food</a>
<a class="btn btn-warning pull-right" style="margin-left: 0.5em" href="{% url 'logexercise' %}">Log Exercise</a>
<a class="btn btn-warning pull-right" style="margin-left: 0.5em" href="{% url 'weightgraph' %}">Weight Graph</a>
<a class="btn btn-warning pull-right" style="margin-left: 0.5em" href="{% url 'caloriesgraph' %}">Calories Graph</a>
{% endblock %}

{% block panel-title %} Account Summary {% endblock %}

{% block panel-body %}
<h2>Welcome, {{ user.first_name }}!</h2>
<table class="table" style="border-style: solid; background-color: aliceblue">
  <thead>
    <tr style="text-align: center">
      <th class="text-center">Recomended Daily Calorie Intake (BMR)</th>
      <th class="text-center"></th>
      <th class="text-center">Calories Consumed Today</th>
      <th class="text-center"></th>
      <th class="text-center">Calories Burned Today</th>
      <th class="text-center"></th>
      <th class="text-center">Daily Calories Left</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center" >{{ user.calcBMR }}</td>
      <td class="text-center" >-</td>
      <td class="text-center" >{{ calories_consumed }}</td>
      <td class="text-center" >+</td>
      <td class="text-center" >{{ calories_burned }}</td>
      <td class="text-center" >=</td>
      <td class="text-center" >{{ calories_left }}</td>
    </tr>
  </tbody>

</table>
<h2>Your Current Weight: {{ user.weight }}kg</h2>
<h2>Your BMI: {{ user.calcBMI }}</h2>
{% endblock %}
