{% extends 'base.html' %}

{% block title %} Log In {% endblock %}

{% block buttons %}
  <a class="btn btn-success" href="{% url 'signup' %}">Sign Up</a>
{% endblock %}

{% block panel-title %} Log In {% endblock %}

{% block panel-body %}
{% if form.errors %}
<p style="color: red">Your username and password didn't match. Please try again.</p>
{% endif %}
<form method="post">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}" />
  {% for field in form %}
  <p>
    {{ field.label_tag }}<br>
    {{ field }}<br>
    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    {% if field.help_text %}
    <p><small style="color: grey">{{ field.help_text }}</small></p>
    {% endif %}
  </p>
  {% endfor %}
  <button class="btn btn-success" type="submit">Log in</button>
</form>
{% endblock %}
