{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{% block panel-title %} Sign Up {% endblock %}

{% block panel-body %}
<form method="post">
  {% csrf_token %}
  {% for field in form %}
  <p>
    {{ field.label_tag }}<br>
    {{ field }}
    {% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
  </p>
  {% endfor %}
  <button class="btn btn-success" type="submit">Sign up</button>
</form>
{% endblock %}
